<!-- Main application view -->
<h1>Bootstrap starter template</h1>
<p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>

<button type="button" class="btn btn-default open-modal">Open Modal</button>
<button type="button" class="btn btn-default init-table">Init Table</button>

<!-- Region used for table content -->
<div id="table-content" class="row"></div>

<!-- Region used for modal content -->
<div id="modal-content" class="row"></div>