<table class="table">
    <thead>
        {{#if columns.hasLabels}}
        <tr>
            {{#each columns}}
                <th>
                    <a class="col-header" data-sort-field="{{target}}" data-sort-order="any">{{label}}</a>
                    <i class="fa fa-sort"></i>
                </th>
            {{/each}}
        </tr>
        {{/if}}
    </thead>
    <tbody>
        {{#each rows}}
            <tr>
                {{#each this}}
                    <td>{{this}}</td>
                {{/each}}
            </tr>
        {{/each}}
    </tbody>
</table>