<table class="table">
    <thead>
        {{#if columns.hasLabels}}
        <tr>
            {{#each columns}}
                <td>
                    {{label}}
                    <i class="fa fa-sort" data-sort-field="{{target}}" data-sort-order="any"></i>
                </td>
            {{/each}}
        </tr>
        {{else}}
        {{/if}}
    </thead>
    <tfoot>
    </tfoot>
    <tbody>
        {{#each rows}}
            <tr>
                {{#each this}}
                    <td>{{this}}</td>
                {{/each}}
            </tr>
        {{/each}}
    </tbody>
</table>